Python 2.x (flask doesn't work on python3)
Flask
hashids
bcrypt
flask-bcrypt
itsdangerous (should come pre-installed with Flask)

Apt-Get:
python-mysqldb (apt-get)
mariadb(mariadb-server)
python-dev (contains python.h)
libffi-dev
