{% extends "layout.html" %}
{% block title %}New Account | {% endblock %}
{% block body %}
  <h2>New Account</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('add_user') }}" method=post>
    <dl>
        <dt>Username:
        <dd><input type=text name=username required>
        <!-- TODO: Add show password -->
        <dt>Password:
        <dd><input type=password name=password required>
        <dt>Recovery Email Address:
        <dd><input type=text name=email required>
        <dt>School House:
        {% for house in houses %}
            <dd><input type="radio" name="house" value="{{house.id}}" required>{{ house.name }}<br>
        {% endfor %}
      <dd><input type=submit value="Add User">
    </dl>
  </form>
{% endblock %}
