<style>

{% for house in get_houses() %}
a.{{house.name}} {
    color: #{{house.color}};
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a.{{house.name}}:hover, a.{{house.name}}:focus {
    color: #fff;
}

{% endfor %}

</style>
