{% extends "layout.html" %} {% block title %}Gameplay{% endblock %} {% block body %}
<header id="context" class="context">
    <div class="context-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>IGNITE Context</h2>
                    <p>You stand in the remains of the Wellington East Girls’ College Kingdom. Once it was a land full of light, but now only a few torches remain after too many false fire alarms. We need your help; each house in the Kingdom has a very small
                        stash of torches. Your job? Take the light and pass it on. By sharing the light, we can ignite the land of light once more. You have until the clock strikes 6pm on the 27th of May 2016. The fate of the land rests on your shoulders.</p>
                    <p>May the best house win!<br> Good luck.</p>
                    <p>
                        <a href="{{ url_for('gameplay')}}#howtoplaytext1" class="btn btn-circle page-scroll">
                            <i class="glyphicon glyphicon-menu-down animated"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="howtoplaytext1" class="howtoplaytext">
    <div class="howtoplaytext-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>STEP 1: Prepare</h1>
                    <p>Get your devices ready! All you need is a device with an internet connection and a QR code scanner. Make sure you are connected to the school network as the site will not work if you are using your mobile data. For more information, <a href="{{ url_for('support')}}#faq">click here</a>.</p>

                    <p>Need a QR code scanner? No worries, check out the scanner menu in the navigation bar above to be redirected to an app for you.</p>

                    <p>If you haven’t already, <a href="{{ url_for('add_user') }}">create your user</a> on IGNITE, all you need is an email. Points/scans will only be counted if you are logged into the site.</p>

                    <p><a href="{{ url_for('gameplay')}}#howtoplaytext2" class="btn btn-circle page-scroll"><i class="glyphicon glyphicon-menu-down animated"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="howtoplaytext2" class="howtoplaytext">
    <div class="howtoplaytext-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>STEP 2: The Rules</h1>
                    <p>If you scan a poster or torch with the same color as your house, you will be awarded <strong>two points</strong> but posters or torches/codes that identify with another house will only get you <strong>one point.</strong></p>
                    <p>You can only scan each poster/torch once per person, after the first scan no more points will be awarded.</p>
                    <p>Please <strong>do not remove</strong> torches or posters as that would prevent fair play.</p>
                    <p>
                        <a href="{{ url_for('gameplay')}}#howtoplaytext3" class="btn btn-circle page-scroll">
                            <i class="glyphicon glyphicon-menu-down animated"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="howtoplaytext3" class="howtoplaytext">
    <div class="howtoplaytext-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>STEP 3: Explore</h1>
                    <p>Look around Wellington East Girls’ College for QR codes to scan, they can be anywhere around the school. Have fun on your adventures! You have until 6pm on Friday the 27th of May.</p>
                    <p>New posters/torches will be added each day. </p>
                    <p>Remember, points will be only awarded after your <strong>first registered scan</strong> of a torch. If you scan a code again, even if you do it a million times, no more points will be awarded. </p>

                    <p>
                        <a href="{{ url_for('gameplay')}}#howtoplayvideo" class="btn btn-circle page-scroll">
                            <i class="glyphicon glyphicon-menu-down animated"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


</div>
</div>
</section>

<section id="howtoplayvideo" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div align="center" class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/64Wh9KMe0Eg" frameborder="0" allowfullscreen></iframe>

            </div>

        </div>
    </div>

    {% endblock %}
