{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<!--Top of the page/home -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">IGNITE</h1>
                    <p class="intro-text">"Take the Light and pass it on"
                        <br>A QR code game for house points and fun
                        <br>Created by Amelia Cordwell and Lana Cleverley</p>

                        <p class="intro-text">Current Scores:<br>

                              {% for house in house_points %}
                                  {{ house.name }} : {{ house.points }}
                              {% endfor %}

                           </p>
                    <a href="{{ url_for('about')}}" class="btn btn-circle">
                        <i class="glyphicon glyphicon-fire animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}
