Hello {{ username }},
<br>
<p>It is awesome to see that you have decided to join the effort to bring back the Land of Light at Wellington East Girls' College</p>

<p>Your <strong>IGNITE</strong> account details are as follows:<br>
    Username:{{ username }}<br>
    Email:{{ email }}
    House: {{ house }}</p>

<p>If any of the details above are incorrect, feel free to contact the <strong>IGNITE</strong> Administrators at ignite.wegc@gmail.com</p>

<p> Good luck on your journey </p>

<p> Have Fun! </p>
