{% if scans %}
<table class="table table-hover">
    <thread class="thread-inverse">
        <tr>
            <th> Time </th>
            <th> Torch </th>
            <th> User </th>
            <th> Points </th>
        </tr>
    </thread>
    {% for scan in scans %}
    <tr>
        <td> {{ scan.scan_time }} </td>
        <!-- TODO: Add House idenitfiers in html -->
        <td> <a class="{{ scan.mhouse }}" href="{{ url_for('show_marker', marker_id = scan.marker_id)}}">{{ scan.mname }} </a></td>
        <td> <a class="{{ scan.uhouse }}" href="{{ url_for('show_user_profile', user_id = scan.user_id)}}">{{ scan.uname }} </td>
        <td> {{ scan.point_value }} </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<tr>Unbelievable! No scans yet.</tr>
{% endif %}
