{% extends "layout.html" %} {% block title %}Support{% endblock %} {% block body %}

<header id="contact" class="contact">
    <div class="contact-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact IGNITE HQ</h2>
                    <p>Feel free to email us to provide some feedback on IGNITE or to just say hello!</p>
                    <p><a href="mailto:ignite.wegc@gmail.com<">ignite.wegc@gmail.com</a>
                    </p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://www.facebook.com/wegcignite" class="btn btn-default-contact btn-lg" target="_blank"><span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCYrsRt0E0TNPpifvHtBYtUw" class="btn btn-default-contact btn-lg" target="_blank"><span class="network-name">Youtube</span></a>
                        </li>
                    </ul>
                    <br>
                    <br>
                    <p>
                        <a href="{{ url_for('support')}}#faq" class="btn btn-default-contact page-scroll">
                            <i class="glyphicon glyphicon-menu-down"></i> FAQs <i class="glyphicon glyphicon-menu-down"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="faq" class="container content-sectionfaq">
    <div class="content-sectionfaqcontent">
        <div class="row">

            <div class="page-header ">
                <h1 class="brand-heading">Frequently Asked Questions<br><p>You have questions, we have answers.</p></h1>

            </div>

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Why is the game called IGNITE?</a>
        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse ">
                        <div class="panel-body">We are igniting torches, and sharing the light around the kingdom. Taking the light and passing it on. </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How did IGNITE come about?</a>
        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">After a long day of playing
                            <a href="https://www.ingress.com/" target="_blank">Ingress</a> (an augmented reality video game), Lana and Amelia talked about how awesome it would be if a big group from school played. </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What do I need to play?</a>
        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">An electronic device with a camera that is able to access the internet. A camera is needed to read the QR codes on the torches or posters around the school; this is how the points are generated. For any handheld devices such as
                            iPads, iPhones, Samsung Galaxy Tablets and the like, a QR code reader can be downloaded and installed off the device’s respective app store for free. For other devices such as Chromebooks, laptops and desktop computers, a QR
                            code reader can be accessed on the internet. For example here (
                            <a href="https://webqr.com/" target="_blank">http://webqr.com</a> ).</div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">How do I play?</a>
        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">Go and have a look at the Gameplay pages for more information.</div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">What is a QR code?</a>
        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">A QR code (quick response code) is a type of 2D bar code that is used to provide quick and easy access to information through a smartphone or smart device.</div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What is a QR code reader?</a></h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">A QR code reader is an application that reads QR codes through the use of a webcam or camera attached or a part of a smart device.</div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">May I change my username? Pretty please with a fairy on top?</a>
    </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse ">
                        <div class="panel-body">No.</div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">How do I gain points for my house?</a>
    </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            To gain points for your house, you must scan a QR code obtained from either a poster, torch or online. If you scan a QR code which has an identifier the same colour as your house e.g. a jelicoe member scans a green torch, then you will earn two points
                            for your house. If you scan a QR code which has either an identifier with a different colour to your house or white, then you will earn one point for your house.</div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Why did I only get one point for scanning a poster?</a>
    </h4>
                    </div>
                    <div id="collapseNine" class="panel-collapse collapse">
                        <div class="panel-body">Posters that have no house colours on them are worth only one point, they are general points.</div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">How many torches and posters are available to be claimed?</a>
    </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse">
                        <div class="panel-body">
                            Check out the torch registry. We cannot guarantee that the posters and torches originally set up will be the same number of ones available as they are subjected to the wild. </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">What do I win?</a>      </h4>
                    </div>
                    <div id="collapseEleven" class="panel-collapse collapse">
                        <div class="panel-body">May I ask, what is better than the feeling of dominating the world? This is sort of like that, except on a much smaller scale… no guarantees. Your points go towards house points.</div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">How does this work?</a>      </h4>
                    </div>
                    <div id="collapseTwelve" class="panel-collapse collapse">
                        <div class="panel-body">Come to GBs - WEGC Technology club on Thursday the 26th of May 2016 at lunch, Room 17 to find out more.</div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">Where did you get the background images from?</a>      </h4>
                    </div>
                    <div id="collapseThirteen" class="panel-collapse collapse">
                        <div class="panel-body">All photos on this website were taken or designed and made by Lana Cleverley.</div>
                    </div>
                </div>
            </div>
</section>

{% endblock %}
