<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {
        'packages': ['line']
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = new google.visualization.DataTable();

        /* So this wasn't working properly for some reason Jellicoe and Fergusson
        were switched. This isn't a good fix however it goes live tomorrow, I will
        try fix it for a formal source code release. */
        data.addColumn('number', 'Hours from start');
        {% for house in houses %}
            data.addColumn('number', '{{house.name}}');
        {% endfor %}

        data.addRows([
            {% for row in graph_data %}
            [{{ row.hour}}
                {% for house in houses %},
                    {{row[house.id - 1]}}
                {% endfor %}],
             {% endfor %}
        ]);

        var options = {
            chart: {
                title: 'Points over time',
                subtitle: 'in hours',
                vAxis: {
                    viewWindow: {
                        min: 0
                    }
                },
                hAxis: {
                    viewWindow: {
                        min: 0
                    }
                }
            },
            series: {
                {% for house in houses %}
                    {{loop.index -1}}: {
                        color: '#{{house.color}}'
                    },
                {% endfor %}
            },
            chartArea: {
                backgroundColor: '#000000'
            },
            height: 500,
            backgroundColor: '#000000'

        };

        var chart = new google.charts.Line(document.getElementById('linechart_material'));

        chart.draw(data, google.charts.Line.convertOptions(options));
    }
</script>
<div id="linechart_material" style="width: fill; height: 500px"></div>
