{% extends "layout.html" %} {% block title %}Torch Registry{% endblock %} {% block body %}

<section class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Torch Registry</h2>
            <table class="table table-hover">
                <thread class="thread-inverse">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>House</th>
                        <th>Point Value</th>
                    </tr>
                </thread>

                {% for torch in torches %}

                <tr>
                    <td> {{torch.id}}</td>

                    <td> <a class="orange" href="{{ url_for('show_marker', marker_id=torch.id) }}">{{torch.name}}</a></td>
                    <td> {% if torch.house %}<a class="{{ torch.house }}{{ torch.house }}" href="{{ url_for('show_house', house_id=torch.house_id)}}">{{torch.house}}</a>
                    {% else %}
                    No House {% endif %}</td>
                    <td> {{torch.point_value}}</td>
                </tr>

                {% endfor %}
            </table>
        </div>
    </div>
</section>
{% endblock %}
