{% extends "layout.html" %} {% block title %}User: {{ user.uname }}{% endblock %} {% block body %}

<section class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>{{ user.uname }}</h2>
            <p>Explorer, set to find the light.
                <br>Points Earned: {{ user.points }}
                <br> House: <a class="{{ user.name }}" href="{{ url_for('show_house', house_id=user.house_id)}}">{{ user.name }}</a></p>
            <h2> Recent Scans:</h2> {{ recent_scans(column="user", wid=user.id)|safe }}
        </div>
    </div>
</section>
{% endblock %}
